@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<b>This content and the Table Elements Below are of the Partial View</b>
<table border="1">
    <tr>
        <th>Employee No.</th>
        <th>Employee Name</th>
    </tr>
        @{ @* Table Rows (<tr>) & Table Data (<td>) 'foreach' employee in record*@
            foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                </tr>
            }
        }    
</table>
