@model Views_Section3.Models.Person

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Home" asp-action="Index3">
    <table>
        <tr>
            <td><label asp-for="Name">Name</label></td>
            <td><input asp-for="Name" /></td>
        </tr>
        <tr>
            <td><label asp-for="Age">Age</label></td>
            <td><input asp-for ="Age" /></td>
        </tr>
        <tr>
            <td colspan="2" type="submit" value="Submit"></td>
        </tr>
    </table>
</form>