
firstApplication_intro-to-asp.net/.vs/firstApplication_intro-to-asp.net/v15/.suo
firstApplication_intro-to-asp.net/.vs/firstApplication_intro-to-asp.net/v15/Server/sqlite3/db.lock
firstApplication_intro-to-asp.net/.vs/firstApplication_intro-to-asp.net/v15/Server/sqlite3/storage.ide-wal
